<blockquote id="<%= dom_id post %>">
  
    <h4><%= post.title %></h4>

  <p>
  <%= post.content %>
  </p>
 <p>
    Posted <%= time_tag post.created_at, "data-local": "time-ago" %>
|
    Comments: <%= pluralize post.comments.count, "comment" %>
  </p>
</blockquote>
