<p style="color: green"><%= notice %></p>

<h1>Posts </h1>

<%= link_to "New post", new_post_path, class: "button button-outline" %>
<%= turbo_frame_tag "posts_search", target: "posts" do %>
<%= form_with url: posts_path, method: :get, data: { turbo_frame: "posts", turbo_action: "advance", controller: "hello" } do |form| %>
    <fieldset>
      <%= form.text_field :query, placeholder: "Search Posts", data: { action: "input->hello#search", "hello-target": "query" } %>
      </fieldset>
<% end %>
<% end %>
<%= turbo_frame_tag "posts", target: "_top" do %>
    <% if @query %>
    <h1>Search Posts for "<%= @query %>"</h1>
    <% end %>
    <% @posts.each do |post| %>
    <%= link_to post do %>
      <%= render post %>
    <% end %>
    <% end %>
<% end %>


